### Toronto Part 1

This is the first part of a 3-part lab on: **Segmenting and Clustering Neighborhoods in Toronto**

In [1]:
import requests
import pandas as pd

# Part 1
# Process the Postal codes, cleanup and grouping
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html = requests.get(url).content

# Get a list of tables
df_list = pd.read_html(html, header=0)

# We want the first table
df_toronto = df_list[0]
print('Columns: {}'.format(df_toronto.columns))
print('Initial shape: {}'.format(df_toronto.shape))

Columns: Index(['Postcode', 'Borough', 'Neighbourhood'], dtype='object')
Initial shape: (288, 3)

In [2]:
df_toronto.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Drop the 'Not assigned' Borough's from the data

In [3]:
# Drop the rows that have Borough = 'Not assigned'
df_toronto = df_toronto[df_toronto['Borough'] != 'Not assigned']

If the neighbourhood is 'Not assigned' then use the borough name instead.

Finally join all of the neighbourhoods together, separated by a comma.

In [6]:

# Set the neighborhood to the borough when it is 'Not assigned'
df_toronto['Neighbourhood'] = df_toronto.apply(lambda row: row['Borough'] if row['Neighbourhood'] == 'Not assigned' else row['Neighbourhood'], axis=1)

# Group the Postcode for all neighbourhoods
df_toronto = df_toronto.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()

# Reset the index
df_toronto.reset_index()

df_toronto.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

Save the data for processing in the Part-2 of the lab.

In [7]:
print('Postcode shape: {}'.format(df_toronto.shape))

# Save the data for later use in the next part
df_toronto.to_csv('toronto_postal.csv')

Postcode shape: (103, 3)